@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{

  font-size:16px ;
}
body{
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  font-family: 'Poppins';
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInLeft 0.5s ease-out;
}


div {
  transition: opacity 0.5s; /* You can adjust the properties and duration as needed */
}
.slider {
  transition: background-image 0.5s ease-in-out;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

/* Media query for small devices (phones) */
@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}